<h1>Editing modalidade</h1>

<%= render "form", modalidade: @modalidade %>

<br>

<div>
  <%= link_to "Show this modalidade", @modalidade %> |
  <%= link_to "Back to modalidades", modalidades_path %>
</div>
