<h1>Editing organizador</h1>

<%= render "form", organizador: @organizador %>

<br>

<div>
  <%= link_to "Show this organizador", @organizador %> |
  <%= link_to "Back to organizadors", organizadors_path %>
</div>
